<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Поиск</ion-title>
        <ion-buttons right>
            <button ion-button (click)="closePage()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="filter()" enctype="multipart/form-data">
        <h3>Поиск в ценовом диапазоне:</h3>
        <div class='exep'></div>
        <ion-item>
            <ion-input placeholder="от" [(ngModel)]="form.min" name="min"></ion-input>
            <span></span>
            <ion-input placeholder="до" [(ngModel)]="form.max" name="max"></ion-input>
        </ion-item>
        <ion-label>
            <ion-checkbox checked="true" [(ngModel)]="form.parking" name="parking"></ion-checkbox>
            <ion-label id="parking">Наличие парковки</ion-label>
        </ion-label>
        <ion-label id="butt">
            <button ion-button type="submit">ПРИМЕНИТЬ</button>
            <button ion-button type="button" (click)="cancel()">СБРОСИТЬ</button>
        </ion-label>
    </form>
</ion-content>