page-filter {
  .item-md {
    padding-left: 0;
  }

  ion-checkbox {
    float: left;
  }

  #parking {
    margin: 1px 64px 13px 31px;
  }

  #butt {
    text-align: center;
  }

  .exep {
    color: red;
  }
}
