<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{hotel.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <img src="{{hotel.imageUrl}}">
        <ion-item>
            <ion-label>
                <h2> {{hotel.description}}</h2>
                <br>
                <h2>
                    <ion-icon name="logo-usd"></ion-icon>
                    {{hotel.roomCost}} <span>{{val}}</span>
                </h2>

                <h2>
                    <ion-icon name="home"></ion-icon>
                    {{hotel.address}}
                </h2>

                <ion-icon name="call"></ion-icon>
                {{hotel.phone}}
                <h2>
                    <ion-icon name="car"></ion-icon>
                    Парковка рядом <span> {{parking}} </span>
                </h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>