<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Главная</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Система бронирования гостиниц</h3>

    <button ion-button secondary (click)="openPage()">Подобрать гостиницу</button>
</ion-content>
