<ion-header>
    <ion-navbar>
        <!--<button ion-button menuToggle>-->
            <!--<ion-icon name="menu"></ion-icon>-->
        <!--</button>-->
        <ion-title>Гостиницы</ion-title>
        <ion-buttons right>
            <button ion-button (click)="openFilter()" >
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let hotel of hotels" (click)="openPage(hotel)">
            <ion-avatar item-start>
                <img src="{{hotel.imageUrl}}">
            </ion-avatar>
            <h2>{{hotel.title}}</h2>
            <p>{{hotel.address}}</p>
        </button>
    </ion-list>
</ion-content>
<script>
    $ionicModal.fromTemplateUrl('/modal-template.html', {
        scope: $scope,
        animation: 'slide-in-up'
    }).then(function (modal) {
        $scope.modal = modal;
    });
</script>
